{% extends '!footer.html' %}

{%- block extrafooter %}

<br><br>
Generated on Synthetic Stellar Pop Convolve branch master: <a href="https://gitlab.com/dhendriks/syntheticstellarpopconvolve/-/tree/master">git branch url</a>.

{% endblock %}
